.login,
.image {
  min-height: 100vh;
}

.amarelo {
  background-color: #ffe300;
}

.bg-image {
  background-image: url('../../assets/Stars.png');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  width: 11rem;
  height: 2.3rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  background: rgb(0, 0, 0);
  border: 0;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input {
  border: none;
  border-bottom: 1px solid #444;
  background: none;
}

#sw-logo {
  text-align: center;
  height: 25%;
  position: absolute;
  top: 12%;
  left: 24%;
  z-index: 100;
}

#falcon {
  text-align: end;
  position: absolute;
  height: 50%;
  top: 40%;
  left: 50%;
}